<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">SuperFresh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/products">Products</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/all">All Products</a></li>
                  <li><a class="dropdown-item" href="/dairy">Dairy</a></li>
                  <li><a class="dropdown-item" href="/fruitsvegs">Fruits and Veggies</a></li>
                  <li><a class="dropdown-item" href="/meatsea">Meat & Seafood</a></li>
                  <li><a class="dropdown-item" href="/household">Household</a></li> 
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Search_products"> Search Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log out</a>
            </li>
            </ul>
        </div>
    </div>
</nav>